---
import Layout from "../../layouts/Layout.astro";
import CourseTable from "../../components/courses/CourseTable.jsx";
---

<Layout title="Cursos">
  <section class="max-w-6xl mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">
      Gestión de Cursos
    </h1>

    <CourseTable client:load />
  </section>
</Layout>
